a {
  color: gray;
}

body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #515151;
}

header {
  height: 50px;
  background: #273b47;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 0 15px;
  align-items: center;
}

li {
  font-size: 17px;
  font-weight: 500;
}

nav {
  height: inherit
}

nav a {
  display: flex;
  align-items: center;
  height: inherit;
  color: white;
  padding: 0 10px;
  text-decoration: none;
  border-top: 5px solid transparent;
}

nav a:hover {
  /*box shadow: dónde se ubica la sombra, x,y,difuminado, color.*/
  box-shadow: inset 0px 7px 0px red!important;
  /*border-top: 5px solid red;*/
}
nav ul {
  margin: 0;
  display: flex;
  height: inherit;
}

nav li {
  height: inherit;
  color: white;
  display: flex;
  align-items: center;
  list-style: none;
}

nav li::after{
  content: "|";
  display: inline-block;
}

nav li a.is-active {
  box-shadow: inset 0px 7px 0px #7dcd40;
}

ul {
  display: flex;
  list-style: none;
}

.autor {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.autor img {
  vertical-align: middle;
  border-radius: 50%;
}

.button {
  /*border-bottom: 5px solid black;*/
  border-radius: 6px;
  border-width: 0px;
  box-shadow: inset 0 -5px 0px rgba(0, 0, 0, .3);
  padding: 5px 10px 10px;
  color: white;
  /*margin: 10px;*/
  font-size: 15px;
  font-weight: 700;
}

.button:active {
  transform: scale(.9);
  transition: .2s;
}

.button.green {
  background: #7dcd40;
}

.button.red {
  background: #FF6348;
}

.buttonsearch {
  color: white;
  background: #273b47;
  padding: 3px;
  border: 0px;
  border-radius: 5px;
}

.containerheader {
  display: flex;
  justify-content: flex-end;
  width: 1200px;
}

.col {
  display: flex;
  flex-direction: column;
}

.col img {
  width: 250px;
  height: 200px;
}

.color {
  background: #EFEFEF;
}

.descripcion {
  background: rgba(208, 205, 205, 0.5);
  position: absolute;
  top: 320px;
  color: black;
}


.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.footer .button {
  color: black;
  margin-right: 9px;
}

.header-right {
  display: flex;
  align-items: center;
  height: inherit;
}

.header-right a {
  margin-right: 8px;
}

.header-right .button {
  margin-left: 10px;
}

.imagenprincipal {
  position: relative;
  display: block;
  width: 700px;
  margin: auto;
  border: 2px solid #988337;
  /*left: 100px;*/
}

.imgsubtitle {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.menu {
  height: inherit;
  color: white;
  position: relative;
  top: 5px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu li {
  margin-left: 20px;
}

.labelsearch {
  border-radius: 5px;
  padding: 0;
}

.logo {
  margin: 10px;
}

.paginador {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginador a {
  text-decoration: none;
}

.paginador ul {
  display: flex;
  list-style: none;
  margin: 0;
}

.paginador li {
  background: #eaeaea;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  border: 1px solid gray;
  margin: 0 5px;
}

.paginador li.selected {
  border: transparent;
  background: black;
  color: white;
}

.principal {
  display: block;
  width: 1300px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

.search {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  padding-right: 300px;
}

.subtitle {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtitle p {
  position: relative;
  left: 50px;
  bottom: 5px;
}

.subtitle span {
  position: relative;
  top: 10px;
  left: 10px;
}
